<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/festival/register.css}">
    </th:block>
</head>
<div layout:fragment="content">
    <div class="container">
<!--                모든 inner는 class="container" 로 맞춤        -->
<!--        이 안에서 작업        -->
        <div class="h1">
            축제정보등록
        </div>
        <div class="registerBox">
            <form action="/festival/register" method="post" enctype="multipart/form-data">
                <div class="regContainer">
                    <div class="info-box-top">
                        <div class="fileBox">
                            <input class="form-control" type="file" id="file" name="imageFile" accept="image/*">
                        </div>
                        <div class="fes-infos">
                            <div>
                                <span>행사이름</span>
                                <input type="text" name="title">
                            </div>
                            <div>
                                <span>행사진행일자</span>
                                <div>
                                    <input type="date" name="startDate"> ~ <input type="date" name="endDate">
                                </div>
                            </div>
                            <div>
                                <span>행사진행시간</span>
                                <input type="text" name="playTime">
                            </div>
                            <div>
                                <span>참여가능연령</span>
                                <input type="text" name="ageLimit">
                            </div>
                            <div>
                                <span>가격</span>
                                <input type="text" name="useTime">
                            </div>
                            <div>
                                <span>주최</span>
                                <input type="text" name="telName">
                            </div>
                            <div>
                                <span>우편번호</span>
                                <div style="display: flex; gap: 8px;">
                                    <input type="text" id="zipCode" name="zipCode" readonly style="width: 120px;">
                                    <button type="button" onclick="execDaumPostcode()">주소 검색</button>
                                </div>
                            </div>

                            <div>
                                <span>상세주소</span>
                                <input type="text" id="address" name="address" readonly placeholder="주소 검색 버튼을 눌러주세요">
                            </div>

                            <div>
                                <span>개최장소</span>
                                <input type="text" name="eventPlace" id="eventPlace" placeholder="예: 세종문화회관 3층">
                            </div>

                            <input type="hidden" id="mapX" name="mapX">
                            <input type="hidden" id="mapY" name="mapY">

                            <div>
                                <span>주최연락처</span>
                                <input type="text" name="tel">
                            </div>
                            <div>
                                <span>홈페이지</span>
                                <input type="text" name="homepage">
                            </div>
                        </div>
                    </div>

                    <div class="info-box-bottom">
                        <div>
                            <span>상세정보</span>
                            <textarea name="overview"></textarea>
                        </div>
                        <div>
                            <span>주요프로그램</span>
                            <textarea name="program"></textarea>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <button type="submit" class="regBtn">축제등록</button>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{|//dapi.kakao.com/v2/maps/sdk.js?appkey=${mapApiKey}&libraries=services,clusterer|}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/festival/festivalRegister.js}"></script>
</div>