.container.admin-container .dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-dark);
}

label.search-form-label {
  font-size: 80%;
  color:var(--bs-secondary);
  padding-bottom: 0.5rem;
}

.form-btn-left {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-right: 0 none;
}

.form-btn-right {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-left: 0 none;
}

.form-control-end {
  border-top-right-radius: var(--bs-border-radius-sm) !important;
  border-bottom-right-radius: var(--bs-border-radius-sm) !important;
}

#currentKeywordType {
  width: 80px;
}

#currentDateRangeCriteria {
  width: 100px;
}

#dateRangeCriteriaAutofillWrapper {
  height: 26px;
}

.result-table-wrapper {
  overflow: scroll;
  height: 440px;
  font-size: 90%;

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.scroll-box-transparent::-webkit-scrollbar {
  width: 6px; /* 스크롤바 두께 */
}

.result-table-wrapper::-webkit-scrollbar-track {
  background: transparent; /* 배경 투명화 */
}

.result-table-wrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* 막대는 반투명하게 */
  border-radius: 4px;
}

.result-table-wrapper table {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 0;
}

.result-table-wrapper table thead th {
  border-bottom: calc(var(--bs-border-width) * 2) solid currentcolor;
  user-select: none;
}

.result-table-wrapper table thead th .btn-th {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.result-table-wrapper table tr {
  white-space: nowrap;
}

.result-table-wrapper table td {
  font-weight: 400;
  white-space: nowrap;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  letter-spacing: -0.03em;
}

.result-table-wrapper table td[data-type="status"] {
  font-size: 110%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.result-table-wrapper table thead th {
  position: sticky;
  z-index: 3;
  top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--bs-body-bg);
}

.result-table-wrapper table thead th:has(.dropdown) {
  z-index: 4;
}

.result-table-wrapper table thead th:last-child {
  position: sticky;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: var(--bs-body-bg);
  border-left: 0.1rem double rgba(var(--bs-dark-rgb), 0.1);
}

.result-table-wrapper table tbody td:last-child {
  position: sticky;
  right: 0;
  z-index: 2;
  background-color: var(--bs-body-bg);
  border-left: 0.1rem double rgba(var(--bs-dark-rgb), 0.1);
  padding: 0;
}

.result-table-wrapper table tbody td:last-child:has(.dropdown-menu.show) {
  z-index: 3;
}

#keywordTypeDropdownList.dropdown-menu,
#dateRangeCriteriaDropdownList.dropdown-menu,
.moderation-menu {
  --bs-dropdown-padding-y: .25rem;
  --bs-dropdown-item-padding-y: .15rem;
}

#keywordTypeDropdownList.dropdown-menu,
#dateRangeCriteriaDropdownList.dropdown-menu {
  font-size: 81%;
}

.status-filter-li {
  font-size: 130%;
}

#statusFilterDropdownList.dropdown-menu,
.moderation-menu,
.provider-filter-li{
  font-size: 90%;
}

.result-table-wrapper table tbody td {
  vertical-align: middle;
}

.btn-reset {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moderation-btn {
  width: 40px;
  height: 100%;
}

.sort-icon,
.filter-active-icon {
  width: 0.6rem;
  height: 0.6rem;
}

.filter-idle-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.phone-verified-icon,
.moderation-icon {
  width: 1rem;
  height: 1rem;
}

.provider-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown-no-caret::after {
  display: none;
}

.btn-group-xs>.btn, .btn-xs {
  --bs-btn-padding-y: 0.20rem;
  --bs-btn-padding-x: 0.35rem;
  --bs-btn-font-size: 0.70rem;
  --bs-btn-border-radius: 0.15rem;
}

.admin-pagination {
  --bs-pagination-disabled-bg: transparent;
  --bs-pagination-disabled-color: rgba(var(--bs-dark-rgb), 0.25);
  --bs-pagination-disabled-border-color: rgba(var(--bs-dark-rgb), 0.15);
}

.admin-pagination .active>.page-link {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}

.admin-pagination .active>.page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-dark-rgb), 0.25);
}

.modal-body table th,
.modal-body table td {
  font-size: 81%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.modal-body table td {
  font-weight: 400;
}

.modal-member-info-th {
  width: 120px;
}