<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/member/signup-in.css}">
    </th:block>
</head>

<div layout:fragment="content">
    <div class="container up-in-container">
        <div class="up-in-h1">비밀번호 확인</div>

        <div th:if="${FailureMsg != null}" class="api-alert" role="alert">
            [[${FailureMsg}]]
        </div>

        <form th:action="@{/mypage/password-check}" method="post">
            <div class="basic-info-box">
                <input type="text" class="input id-input" id="username" th:value="${username}" disabled>
                <input type="password" class="input id-input" id="password" name="password" placeholder="비밀번호를입력하세요." required>
            </div>
            <button type="submit" class="join-btn signup-btn">확인</button>
        </form>
    </div>
</div>