<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/member/signup-in.css}">
    </th:block>
</head>

<div layout:fragment="content">
    <div class="container up-in-container">
        <h1 class="up-in-h1">비밀번호 변경</h1>

        <div th:if="${FailureMsg != null}" class="api-alert" role="alert">
            [[${FailureMsg}]]
        </div>

        <form th:action="@{/mypage/password-change}" method="post">
            <div class="basic-info-box">
                <input type="password" class="input id-input" id="currentPassword" name="currentPassword" placeholder="현재 비밀번호" required>
                <input type="password" class="input id-input" id="newPassword" name="newPassword" placeholder="변경할 비밀번호" required>
                <input type="password" class="input id-input" id="newPasswordConfirm" name="newPasswordConfirm" placeholder="비밀번호를 확인해주세요." required>
            </div>
            <button type="submit" class="join-btn signup-btn">변경</button>
        </form>
    </div>
</div>