<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>축!</title>
  <!-- Bootstrap 설정 -->
  <link rel="stylesheet" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" th:href="@{/css/index_main.css}"/>
  <link rel="stylesheet" th:href="@{/libs/bootstrap-5.3.8-dist/css/bootstrap.min.css}">

  <!-- chatbot css -->
  <link rel="stylesheet" th:href="@{/css/chatbot/chatbot.css}">

  <!-- mypage css -->
  <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">

  <!-- modify css -->
  <link rel="stylesheet" th:href="@{/css/mypage/modify.css}">

  <!-- 이력서 관리 페이지 (manage) css -->
  <link rel="stylesheet" th:href="@{/css/resume/manage.css}">

  <!--이력서 등록 페이지 (register) css-->
  <link rel="stylesheet" th:href="@{/css/resume/register.css}">

  <script th:src="@{/libs/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/header :: header}"></div>
<div class="container-wrapper">
  <div layout:fragment="content" ></div>
</div>

  <input type="hidden" id="csrfToken">
  <button id="chatBtn" class="chat-btn">
    💬
  </button>
  <!-- 채팅창 -->
  <div id="chatBox" class="chat-box">

    <div class="chat-header">
      <span>ChatBot</span>
      <button id="closeBtn">✖</button>
    </div>

    <div class="chat-body">
      안녕하세요!<br>
      무엇을 도와드릴까요?
    </div>

    <!-- 입력창 -->
    <div class="chat-input">
      <input type="text" id="message" placeholder="메시지를 입력하세요">
      <button id="sendBtn">전송</button>
    </div>

  </div>

  <!-- chatbot js -->
  <script th:src="@{/js/chatbot/chatbot.js}"></script>

  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>