<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/admin-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/result-fragment.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
    <link rel="stylesheet" th:href="@{/css/admin/search-form.css}">
  </th:block>
</head>
<div layout:fragment="content">
  <div class="container admin-container">
    <form id="form" method="get"
          th:action="@{/admin/member/product}">
      <div class="mb-3">
        <div class="admin-search-form">
          <th:block th:replace="~{admin/fragments/search-form :: keyword(
            ${keywordOptions}, ${form})}"></th:block>
          <th:block th:replace="~{admin/fragments/search-form ::date-range(
            ${dateRangeOptions}, ${dateRangeAutofillOptions}, ${form})}"></th:block>
        </div>
        <th:block th:replace="~{admin/fragments/search-form :: search-buttons-with-product-add-button}"></th:block>
      </div>
      <div id="result">
      </div>
    </form>
  </div>
  <!-- deleteProductModal -->
  <div aria-hidden="true" class="modal fade"
       data-role="deleteProduct" id="deleteProductModal"
       tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div th:replace="~{admin/fragments/modal :: modal-header('상품 판매 종료')}"></div>
        <div class="modal-body">
          <div
            th:replace="~{admin/fragments/modal :: modal-product-info(${deleteProductInfo})}"></div>
        </div>
        <div th:replace="~{admin/fragments/modal :: modal-footer('danger', '판매 종료')}"></div>
      </div>
    </div>
  </div>
  <!-- addProductModal -->
  <div aria-hidden="true" class="modal fade"
       data-role="addProduct" id="addProductModal"
       tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div th:replace="~{admin/fragments/modal :: modal-header('상품 추가')}"></div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label" for="addProductProductName">상품명</label>
            <div class="input-group">
              <input class="form-control form-control-sm" id="addProductProductName" type="text">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label d-inline-flex align-items-center gap-2" for="addProductPointGet">
              <span>포인트 양</span>
              <a class="flex-shrink-0 d-flex align-items-center"
                 data-bs-html="true"
                 data-bs-title="가격은 원화 기준 포인트 양과 동일하게 설정됩니다."
                 data-bs-toggle="tooltip"
                 href="#">
                <span th:replace="~{admin/fragments/svg :: tooltip('tooltip-icon')}"></span>
              </a>
            </label>
            <div class="input-group">
              <input class="form-control form-control-sm" id="addProductPointGet" type="number" min="0">
            </div>
          </div>
        </div>
        <div th:replace="~{admin/fragments/modal :: modal-footer('primary', '상품 추가')}"></div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/admin/initialize-search-form.js}"></script>
  <script th:src="@{/js/admin/payment/modal.js}"></script>
  <script th:src="@{/js/admin/load-result.js}"></script>
  <script th:src="@{/js/admin/table-th-filter.js}"></script>
  <script>
    const params = new URLSearchParams(window.location.search);
    if (params.size === 0) {
      params.set('status', 'ON_SALE');
    }
    loadResult(window.location.pathname, {forceParams: params});
  </script>
</div>