<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap-5.3.8-dist/css/bootstrap.min.css}">
</head>
<body>
<div class="container" style="max-width: 400px;">
    <h1 class="mb-4 text-center mt-5">로그인</h1>

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <button type="button" class="nav-link active" id="tab-personal">개인회원</button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link" id="tab-business">기업회원</button>
        </li>
    </ul>

<!--    <div th:if="${FailureMsg != null}" class="alert alert-danger" role="alert">-->
<!--        [[${FailureMsg}]]-->
<!--    </div>-->
    <div th:if="${param.error != null}" class="alert alert-danger" role="alert">
        아이디 또는 비밀번호가 일치하지 않습니다.
    </div>

    <form th:action="@{/member/login}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">아이디</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">로그인</button>
    </form>

        <div class="d-flex gap-1 mt-3">
            <a href="/oauth2/authorization/google" class="btn btn-outline-dark flex-fill">G</a>
            <a href="/oauth2/authorization/naver" class="btn btn-outline-success flex-fill">N</a>
            <a href="/oauth2/authorization/kakao" class="btn btn-outline-warning flex-fill">K</a>
        </div>

    <a th:href="@{/member/signup}" class="btn btn-outline-primary w-100 mt-2">회원가입</a>
</div>
<script th:src="@{/js/member/loginTabs.js}"></script>
</body>
</html>