<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!--C:\web_260315_kim\project-festival\src\main\resources\templates\mypage\recruiter\mypage.html-->
<div layout:fragment="content">

    <!-- 기존 마이페이지 CSS -->
    <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">

    <!-- 토스페이먼츠 SDK -->
    <script src="https://js.tosspayments.com/v2/standard"></script>


    <!--포인트 구매 모달 전용 CSS
         기존 .btn, .btn-primary 등의 CSS와 충돌하지 않도록
         전부 point-payment- 접두사 사용 -->
    <link rel="stylesheet" th:href="@{/css/payment/point-payment.css}">


    <!-- 기존 마이페이지-->

    <div class="container">

        <!-- 모든 inner는 class="container" 로 맞춤 -->

        <div class="member-info-container">
            <div class="member-info">
                <div class="member-detail">
                    <div class="member-basic-info">
                        <div class="member-profile-img">

                        </div>
                        <div>
                            <span th:text="${myPageDTO.name}"></span>
                            <span th:text="${myPageDTO.email}"></span>
                        </div>
                    </div>
                </div>
                <a th:if="${!myPageDTO.socialSignUp}" th:href="@{/mypage/password-check}" class="mypage-modify-btn">회원정보수정</a>
                <a th:if="${myPageDTO.socialSignUp}" th:href="@{/mypage/modify/job-seeker}" class="mypage-modify-btn">회원정보수정</a>
            </div>

            <!-- 기존 메뉴 -->
            <div class="mypage-menu">
                <div class="member-detail-info">
                    <div class="mypage-h1">내 프로필</div>
                    <div class="menu-item">
                        <div>
                            <p>전화번호</p>
                            <span th:text="${myPageDTO.phone}"></span>
                        </div>
                        <div>
                            <p>아이디</p>
                            <span th:text="${myPageDTO.username}"></span>
                        </div>
                        <div>
                            <p>계정유형</p>
                            <span th:text="${myPageDTO.role}"></span>
                        </div>
                        <div>
                            <p>포인트</p>
                            <div class="mypage-point-box">
                                <span th:text="'Ⓟ ' + ${myPageDTO.point}"></span>
                                <div>
                                    <a th:if="${!myPageDTO.socialSignUp}"
                                       href="javascript:void(0)"
                                       id="openPointPaymentBtn"
                                       class="mypage-menu-btn">
                                        포인트 구매
                                    </a>

                                    <a th:if="${!myPageDTO.socialSignUp}"
                                       href="javascript:void(0)"
                                       id="openPointRefundBtn"
                                       class="mypage-menu-btn">
                                        포인트 환불
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="member-detail-info">
                    <div class="mypage-h1">보안설정</div>
                    <div class="menu-item">
                        <div th:if="${!myPageDTO.socialSignUp}">
                            <p>비밀번호</p>
                            <a class="mypage-menu-btn" th:href="@{/mypage/password-change}">비밀번호 변경 ↗ </a>
                        </div>
                    </div>
                </div>

                <div class="member-detail-info">
                    <div class="mypage-h1">나의 현황</div>
                    <div class="menu-item">
                        <div>
                            <p>행사진행</p>
                            <a class="mypage-menu-btn">
                                행사 진행중 상황  ↗
                            </a>
                        </div>
                        <div>
                            <p>행사마감</p>
                            <a class="mypage-menu-btn">
                                마감된 행사  ↗
                            </a>
                        </div>
                        <div>
                            <p>모집공고</p>
                            <a class="mypage-menu-btn" th:href="@{/mypage/recruiter/ongoing}">
                                등록한 공고 현황  ↗
                            </a>
                        </div>
                    </div>
                </div>

            <a class="mypage-del-btn" th:href="@{/mypage/account-leave}">회원탈퇴</a>

            </div>
        </div>
    </div>



    <!-- 포인트 구매 모달창 -->

    <div id="pointPaymentBackdrop"
         class="point-payment-backdrop">
        <div class="point-payment-modal">
            <!-- 모달 헤더 -->
            <div class="point-payment-header">
                <h3 id="pointPaymentModalTitle"
                    class="point-payment-title">
                    포인트 구매
                </h3>
                <button type="button"
                        id="closePointPaymentBtn"
                        class="point-payment-close">
                    &times;
                </button>
            </div>


            <!-- STEP 1 상품 선택 -->
            <div id="pointPaymentStepSelect">
                <div id="pointPaymentProductList">
                    불러오는 중...
                </div>

                <div class="point-payment-footer">
                    <button type="button"
                            id="pointPaymentNextBtn"
                            class="point-payment-next-btn"
                            disabled>
                        결제하기
                    </button>
                </div>
            </div>


            <!-- STEP 2 토스 결제 위젯 -->
            <div id="pointPaymentStepPayment"
                 style="display:none;">

                <button type="button"
                        id="pointPaymentBackBtn"
                        class="point-payment-back-btn">
                    &larr; 상품 다시 선택
                </button>


                <!-- 선택한 상품 -->
                <div id="pointPaymentSummary"
                     class="point-payment-summary">
                </div>

                <!-- 토스 결제수단 -->
                <div id="pointPaymentMethod"></div>

                <!-- 토스 약관 -->
                <div id="pointPaymentAgreement"></div>


                <!-- 최종 결제 -->
                <div class="point-payment-footer">
                    <button type="button"
                            id="pointPaymentFinalBtn"
                            class="point-payment-final-btn">
                        결제하기
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- 포인트 환불 모달 -->
    <div th:replace="~{payment/modalmodal/point-refund-modal :: pointRefundModal}"></div>


    <!-- 포인트 구매 JavaScript -->
    <script th:src="@{/js/payment/point-payment.js}"></script>


    <!-- 포인트 환불 CSS -->
    <link rel="stylesheet" th:href="@{/css/payment/point-refund-modal.css}">


    <!-- 포인트 환불 JavaScript -->
    <script th:src="@{/js/payment/point-refund-modal.js}"></script>

</div>

</html>
