<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" class="f-footer">
    <div class="footer-bar">
        <div class="container">
            <div class="footer-info">
                <div><a href="/">회원서비스약관</a></div>
                <div><a href="/">공지사항</a></div>
                <div><a href="/">FAQ</a></div>
                <div><a href="/">1:1문의</a></div>
            </div>
            <div class="footer-social">
                <div class="social-add">
                    <div class="add-icon">
                        우편번호
                    </div>
                    <div>
                        26464 OO시 OO구 OO동
                    </div>
                </div>
                <div class="social-add">
                    <div class="add-icon">
                        TEL
                    </div>
                    <div>
                        000-000-0000
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>