<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
<!--    style="position: sticky; top: 0; z-index: 1000;"-->
    <nav class="navbar" data-bs-theme="dark">
        <div class="dropdown-bg"></div>
        <div class="container inner">
            <div class="c-container">
                <a class="logo" href="/">축!!</a>
                <div class="header-bar">
                    <ul class="header-nav">
<!--                         1메뉴 -->
                        <li class="nav-item">
                            <a href="/festival/list" class="nav-link">전국축제</a>
                            <div class="dropdown-menu-box">
                                <ul class="submenu">
                                    <li><a href="/festival/list">전체축제보기</a></li>
                                    <li><a href="/map/map">축제지도</a></li>
                                </ul>
                            </div>
                        </li>
<!--                         2메뉴 -->
                        <li class="nav-item">
                            <a href="/recruitment/list" class="nav-link">모집공고</a>
                            <div class="dropdown-menu-box">
                                <ul class="submenu">
                                    <li><a href="/recruitment/list">축제인력모집</a></li>
                                </ul>
                            </div>
                        </li>
<!--                         3메뉴 -->
                        <li class="nav-item">
                            <a href="/" class="nav-link">고객센터</a>
                            <div class="dropdown-menu-box">
                                <ul class="submenu">
                                    <li><a href="/adminBoard/list">공지사항</a></li>
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="/inquiry/register">1:1문의</a></li>
                                </ul>
                            </div>
                        </li>
<!--                        4메뉴-->
                        <li class="nav-item">
                            <a href="/" class="nav-link">사이트소개</a>
                            <div class="dropdown-menu-box">
                                <ul class="submenu">
                                    <li><a href="/">축!소개</a></li>
                                    <li><a href="/">운영방침</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="user-box">
                    <ul class="user-sub">
                        <li th:if="${session.loginMember == null}"><a th:href="@{/member/signup}" class="nav-link">회원가입</a></li>
                        <li th:if="${session.loginMember == null}"><a th:href="@{/member/login}" class="nav-link">로그인</a></li>
                        <li th:if="${session.loginMember != null}"><a href="/" class="nav-link" th:text="${session.loginMember.name}"></a></li>
                        <li th:if="${session.loginMember != null}"><a th:href="@{/member/logout}" class="nav-link">로그아웃</a></li>

                        <li th:if="${session.loginMember != null}">
                            <a th:href="@{/payCreationTest}"
                               class="nav-link">
                                1단결제로보내
                            </a></li>

                        <li th:if="${session.loginMember != null}">
                            <a th:href="@{/mypage}"
                               class="nav-link">
                                마이페이지
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>