<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/mypage/jobseeker/mypage.css}">
    <div class="container">
        <!--                모든 inner는 class="container" 로 맞춤        -->
        <!--        이 안에서 작업        -->

        <h1>마이페이지</h1>

        <div class="member-info">
            <div class="member-detail">
                <div>
                    <p>아이디</p>
                    <span th:text="${myPageDTO.username}"></span>
                </div>

                <div>
                    <p>이름</p>
                    <span th:text="${myPageDTO.name}"></span>
                </div>

                <div>
                    <p>전화번호</p>
                    <span th:text="${myPageDTO.phone}"></span>
                </div>

                <div>
                    <p>이메일</p>
                    <span th:text="${myPageDTO.email}"></span>
                </div>

                <div>
                    <p>포인트</p>
                    <span th:text="${myPageDTO.point}"></span>
                </div>

                <div>
                    <p>계정유형</p>
                    <span th:text="${myPageDTO.role}"></span>
                </div>
            </div>
            <a th:if="${!myPageDTO.socialSignUp}" th:href="@{/mypage/password-check}" class="btn btn-primary">수정</a>
            <a th:if="${myPageDTO.socialSignUp}" th:href="@{/mypage/modify/job-seeker}" class="btn btn-primary">수정</a>
        </div>

        <div class="mypage-menu">
            <div class="menu-item" th:if="${!myPageDTO.socialSignUp}">
                <a th:href="@{/mypage/password-change}">비밀번호 변경</a>
            </div>
            <div class="menu-item">
                <a th:href="@{/resume/manage}">
                    나의 이력서 관리
                </a>
            </div>

            <div class="menu-item" th:if="${!myPageDTO.socialSignUp and myPageDTO.role.name() != 'RECRUITER'}">
                <a th:href="@{/mypage/social-login}">간편 로그인 관리</a>
            </div>

            <div class="menu-item">
                <a th:href="@{/application/list}">지원현황</a>
            </div>

            <div class="menu-item">
                <a th:href="@{/mypage/account-leave}">회원탈퇴</a>
            </div>
        </div>
    </div>
</div>