.member-status-clear-filter {
  background-color: #fafafa;
  color: var(--bs-secondary-color);
  font-weight: 500;
}

.member-status-active {
  background-color: #5ba456;
  color: #fff;
}

.member-status-dormant {
  background-color: #b0b6bf;
  color: #fff;
}

.member-status-suspended {
  background-color: #C65852;
  color: #fff;
}

.member-status-deleted {
  background-color: #625B62;
  color: #fff;
}