<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/member/job-seeker.css}">
  </th:block>
</head>
<div layout:fragment="content">

  <div class="container">
    <form method="get" th:action="@{/admin/member/job-seeker}"
          th:with="form=${pagingHandler.form}">
      <div class="row">
        <div class="col-12 col-md-6">
          <label for="keywords">검색 키워드</label>
          <div class="input-group input-group-sm mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="currentKeywordType">전체</button>
            <ul class="dropdown-menu" id="keywordTypeDropdownList">
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="">전체</button></li>
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="USERNAME">아이디</button></li>
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="NAME">이름</button></li>
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="PHONE">전화번호</button></li>
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="EMAIL">이메일</button></li>
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="ADDRESS">주소</button></li>
            </ul>
            <input type="text" id="keywords" name="keywords" class="form-control" th:value="${form.keywords}"/>
            <input type="hidden" id="keywordType" name="keywordType" th:value="${form.keywordType}"/>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <label>날짜 범위</label>
          <div class="input-group input-group-sm mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="currentDateRangeCriteria">
              선택
            </button>
            <ul class="dropdown-menu" id="dateRangeCriteriaDropdownList">
              <li><button type="button" class="dropdown-item date-range-criteria-li" data-value="">선택</button></li>
              <li><button type="button" class="dropdown-item date-range-criteria-li" data-value="CREATED_AT">계정 생성일</button></li>
              <li><button type="button" class="dropdown-item date-range-criteria-li" data-value="UPDATED_AT">계정 수정일</button></li>
              <li><button type="button" class="dropdown-item date-range-criteria-li" data-value="LAST_LOGIN_AT">마지막 로그인</button></li>
              <li><button type="button" class="dropdown-item date-range-criteria-li" data-value="BIRTH_DATE">생일</button></li>
            </ul>
            <input type="datetime-local" class="form-control" name="startDateTime" id="startDateTime" th:value="${form.startDateTime}"/>
            <input type="date" class="form-control" name="startDate" id="startDate" th:value="${form.startDate}">
            <span class="input-group-text">~</span>
            <input type="datetime-local" class="form-control" name="endDateTime" id="endDateTime" th:value="${form.endDateTime}">
            <input type="date" class="form-control" name="endDate" id="endDate" th:value="${form.endDate}">
            <input type="hidden" id="dateRangeCriteria" name="dateRangeCriteria" th:value="${form.dateRangeCriteria}"/>
          </div>
        </div>
      </div>
      <div class="result-table-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">아이디</th>
              <th scope="col">이름</th>
              <th scope="col">전화번호</th>
              <th scope="col">이메일</th>
              <th scope="col">상태</th>
              <th scope="col">생성일시</th>
              <th scope="col">수정일시</th>
              <th scope="col">마지막 접속일시</th>
              <th scope="col">삭제일시</th>
              <th scope="col">포인트</th>
              <th scope="col">소셜</th>
              <th scope="col">성별</th>
              <th scope="col">생일</th>
              <th scope="col">도로명주소</th>
              <th scope="col">상세주소</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="jobSeeker : ${page}">
              <td th:text="${jobSeeker.id}"></td>
              <td th:text="${jobSeeker.username}"></td>
              <td th:text="${jobSeeker.name}"></td>
              <td>[[${jobSeeker.phone}]] <span th:if="${jobSeeker.phoneVerified}">✅</span></td>
              <td th:text="${jobSeeker.email}"></td>
              <td th:text="${jobSeeker.status}"></td>
              <td th:text="${jobSeeker.createdAt}"></td>
              <td th:text="${jobSeeker.updatedAt}"></td>
              <td th:text="${jobSeeker.lastLoginAt}"></td>
              <td th:text="${jobSeeker.deletedAt}"></td>
              <td th:text="${jobSeeker.point}"></td>
              <td></td>
              <td th:text="${jobSeeker.gender}"></td>
              <td th:text="${jobSeeker.birthDate}"></td>
              <td th:text="${jobSeeker.streetAddress}"></td>
              <td th:text="${jobSeeker.detailAddress}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-dark">검색</button>
      <div>
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${pagingHandler.prevBtnActive eq false ? 'disabled' : '' }">
              <button class="page-link" name="pageIdx" th:value="${pagingHandler.pageIdx - 1}" type="submit">←</button>
            </li>
            <li class="page-item"
                th:classappend="${i == pagingHandler.pageIdx} ? 'active'"
                th:each="i : ${#numbers.sequence(pagingHandler.startPageIdx, pagingHandler.endPageIdx)}">
              <button class="page-link" name="pageIdx" th:value="${i}" type="submit">[[${i}]]</button>
            </li>
            <li class="page-item" th:classappend="${pagingHandler.nextBtnActive eq false ? 'disabled' : '' }">
              <button class="page-link" name="pageIdx" th:value="${pagingHandler.pageIdx + 1}" type="submit">→</button>
            </li>
          </ul>
        </nav>
      </div>

    </form>
  </div>
  <script th:src="@{/js/admin/member/job-seeker.js}"></script>
</div>