<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/member/job-seeker.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
  </th:block>
</head>
<div layout:fragment="content">

  <div class="container admin-container">
    <form method="get" th:action="@{/admin/member/job-seeker}"
          th:with="form=${pagingHandler.form}">
      <div class="d-flex justify-content-end input-group input-group-sm">
        <button class="btn btn-light form-btn-left" type="button" id="currentPageSize">30개씩</button>
        <button class="btn btn-light form-btn-right dropdown-toggle dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu dropdown-menu-end" id="pageSizeDropdownList">
          <li><button type="button" class="dropdown-item page-size-li" data-value="10">10개씩</button></li>
          <li><button type="button" class="dropdown-item page-size-li" data-value="30">30개씩</button></li>
          <li><button type="button" class="dropdown-item page-size-li" data-value="50">50개씩</button></li>
        </ul>
        <input type="hidden" id="pageSize" name="pageSize" th:value="${pageSize}"/>
        <button type="submit" class="btn btn-dark">검색</button>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <label class="search-form-label" for="keywords">검색 키워드</label>
          <div class="input-group input-group-sm">
            <button class="btn btn-light form-btn-left" type="button" id="currentKeywordType">전체</button>
            <button class="btn btn-light form-btn-right dropdown-toggle dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" id="keywordTypeDropdownList">
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="">전체</button></li>
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="USERNAME">아이디</button></li>
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="NAME">이름</button></li>
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="PHONE">전화번호</button></li>
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="EMAIL">이메일</button></li>
              <li><button type="button" class="dropdown-item keyword-type-li" data-value="ADDRESS">주소</button></li>
            </ul>
            <input type="hidden" id="keywordType" name="keywordType" th:value="${form.keywordType}"/>
            <input type="text" id="keywords" name="keywords" class="form-control" th:value="${form.keywords}"/>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <label class="search-form-label">날짜 범위</label>
          <div class="input-group input-group-sm">
            <button class="btn btn-light form-btn-left" type="button" id="currentDateRangeCriteria">선택</button>
            <button class="btn btn-light form-btn-right dropdown-toggle dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" id="dateRangeCriteriaDropdownList">
              <li><button type="button" class="dropdown-item date-range-criteria-li" data-value="">선택</button></li>
              <li><button type="button" class="dropdown-item date-range-criteria-li" data-value="CREATED_AT">생성일시</button></li>
              <li><button type="button" class="dropdown-item date-range-criteria-li" data-value="UPDATED_AT">수정일시</button></li>
              <li><button type="button" class="dropdown-item date-range-criteria-li" data-value="LAST_LOGIN_AT">최근접속일시</button></li>
              <li><button type="button" class="dropdown-item date-range-criteria-li" data-value="BIRTH_DATE">생년월일</button></li>
            </ul>
            <input type="datetime-local" class="form-control" name="startDateTime" id="startDateTime" th:value="${form.startDateTime}"/>
            <input type="date" class="form-control" name="startDate" id="startDate" th:value="${form.startDate}">
            <span class="input-group-text">~</span>
            <input type="datetime-local" class="form-control form-control-end" name="endDateTime" id="endDateTime" th:value="${form.endDateTime}">
            <input type="date" class="form-control form-control-end" name="endDate" id="endDate" th:value="${form.endDate}">
            <input type="hidden" id="dateRangeCriteria" name="dateRangeCriteria" th:value="${form.dateRangeCriteria}"/>
          </div>
          <div class="float-end mt-2" id="dateRangeCriteriaAutofillWrapper">
            <div class="btn-group btn-group-xs" role="group" id="dateRangeCriteriaAutofill">
              <span class="btn btn-secondary">빠른 설정</span>
              <button type="button" class="btn btn-outline-secondary date-range-criteria-autofill" data-value="1h">1시간</button>
              <button type="button" class="btn btn-outline-secondary date-range-criteria-autofill" data-value="6h">6시간</button>
              <button type="button" class="btn btn-outline-secondary date-range-criteria-autofill" data-value="12h">12시간</button>
              <button type="button" class="btn btn-outline-secondary date-range-criteria-autofill" data-value="1d">1일</button>
              <button type="button" class="btn btn-outline-secondary date-range-criteria-autofill" data-value="7d">1주</button>
              <button type="button" class="btn btn-outline-secondary date-range-criteria-autofill" data-value="1M">1개월</button>
            </div>
          </div>
        </div>
      </div>
      <div class="result-table-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">아이디</th>
              <th scope="col">이름</th>
              <th scope="col" colspan="2">전화번호</th>
              <th scope="col">이메일</th>
              <th scope="col">
                <div class="d-flex gap-3 justify-content-between">
                  <span>상태</span>
                  <div class="dropdown d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-reset btn-th dropdown-toggle dropdown-no-caret" data-bs-toggle="dropdown">
                      <th:block th:replace="~{admin/fragments/svg :: filter('filter-icon')}"></th:block>
                    </button>
                    <ul class="dropdown-menu filter-menu" id="statusFilterDropdownList">
                      <li><button type="button" class="dropdown-item status-filter-li" data-value="">
                        <th:block th:replace="~{admin/fragments/badge :: member-status(null, false, true)}"></th:block>
                      </button></li>
                      <li><button type="button" class="dropdown-item status-filter-li" data-value="ACTIVE">
                        <th:block th:replace="~{admin/fragments/badge :: member-status(${memberStatusFilters[0]}, false, false)}"></th:block>
                      </button></li>
                      <li><button type="button" class="dropdown-item status-filter-li" data-value="DORMANT">
                        <th:block th:replace="~{admin/fragments/badge :: member-status(${memberStatusFilters[1]}, false, false)}"></th:block>
                      </button></li>
                      <li><button type="button" class="dropdown-item status-filter-li" data-value="SUSPEND">
                        <th:block th:replace="~{admin/fragments/badge :: member-status(${memberStatusFilters[2]}, false, false)}"></th:block>
                      </button></li>
                      <li><button type="button" class="dropdown-item status-filter-li" data-value="DELETED">
                        <th:block th:replace="~{admin/fragments/badge :: member-status(null, true, false)}"></th:block>
                      </button></li>
                    </ul>
                  </div>
                </div>
              </th>
              <th scope="col">
                <span class="d-flex gap-3 justify-content-between">
                  <span>생성일시</span>
                  <button type="button" class="btn btn-reset btn-th dropdown-toggle dropdown-no-caret" data-bs-toggle="dropdown">
                    <th:block th:replace="~{admin/fragments/svg :: sort('sort-icon')}"></th:block>
                  </button>
                </span>
              </th>
              <th scope="col">
                <span class="d-flex gap-3 justify-content-between">
                  <span>수정일시</span>
                  <button type="button" class="btn btn-reset btn-th" data-bs-toggle="dropdown">
                    <th:block th:replace="~{admin/fragments/svg :: sort('sort-icon')}"></th:block>
                  </button>
                </span>
              </th>
              <th scope="col">
                <span class="d-flex gap-3 justify-content-between">
                  <span>최근접속일시</span>
                  <button type="button" class="btn btn-reset btn-th" data-bs-toggle="dropdown">
                    <th:block th:replace="~{admin/fragments/svg :: sort('sort-icon')}"></th:block>
                  </button>
                </span>
              </th>
              <th scope="col">
                <span class="d-flex gap-3 justify-content-between">
                  <span>삭제일시</span>
                  <button type="button" class="btn btn-reset" data-bs-toggle="dropdown">
                    <th:block th:replace="~{admin/fragments/svg :: sort('sort-icon')}"></th:block>
                  </button>
                </span>
              </th>
              <th scope="col">포인트</th>
              <th scope="col">소셜</th>
              <th scope="col">성별</th>
              <th scope="col">생일</th>
              <th scope="col">도로명주소</th>
              <th scope="col">상세주소</th>
              <th scope="col" class="text-center bg-body-secondary">관리</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="jobSeeker : ${page}">
              <td data-type="id" th:text="${jobSeeker.id}"></td>
              <td data-type="username" th:text="${jobSeeker.username}"></td>
              <td data-type="name" th:text="${jobSeeker.name}"></td>
              <td data-type="phone">[[${jobSeeker.formattedPhone}]]</td>
              <td>
                <span th:if="${jobSeeker.phoneVerified}" class="text-success"><th:block th:replace="~{admin/fragments/svg :: verified('phone-verified-icon')}"></th:block></span>
                <span th:unless="${jobSeeker.phoneVerified}" class="text-danger" title="휴대전화 번호가 인증되지 않았습니다."><th:block th:replace="~{admin/fragments/svg :: not-verified('phone-verified-icon')}"></th:block></span>
              </td>
              <td data-type="email" th:text="${jobSeeker.email}"></td>
              <td data-type="status" class="text-center">
                <th:block th:replace="~{admin/fragments/badge :: member-status(${jobSeeker.status}, ${jobSeeker.deletedAt ne null}, false)}"></th:block>
                <span data-type="suspendedAt" class="d-none" th:text="${#temporals.format(jobSeeker.suspendedAt, 'yyyy.MM.dd. HH:mm:ss')}"></span>
                <span data-type="suspendedReason" class="d-none">[[${jobSeeker.suspendedReason}]]</span>
              </td>
              <td th:text="${#temporals.format(jobSeeker.createdAt, 'yyyy.MM.dd. HH:mm')}"></td>
              <td th:text="${#temporals.format(jobSeeker.updatedAt, 'yyyy.MM.dd. HH:mm')}"></td>
              <td data-type="lastLoginAt" th:text="${#temporals.format(jobSeeker.lastLoginAt, 'yyyy.MM.dd. HH:mm')}"></td>
              <td th:text="${#temporals.format(jobSeeker.deletedAt, 'yyyy.MM.dd. HH:mm')}"></td>
              <td class="text-end" th:text="${jobSeeker.point}"></td>
              <td>
                <th:block th:each="socialLoginDto: ${jobSeeker.socialLoginDtoList}">
                  <img th:src="@{'/images/admin/member/provider_'+${#strings.toLowerCase(socialLoginDto.provider.name())}+'.svg'}"
                       class="provider-icon"
                       th:alt-title="${socialLoginDto.provider.name() + ' / 연결 일시: ' + #temporals.format(socialLoginDto.linkedAt, 'yyyy.MM.dd. HH:mm:ss')}"/>
                </th:block>
              </td>
              <td>
                <span th:if="${jobSeeker.gender.name() == 'MALE'}">남성</span>
                <span th:if="${jobSeeker.gender.name() == 'FEMALE'}">여성</span>
              </td>
              <td th:text="${#temporals.format(jobSeeker.birthDate, 'yyyy.MM.dd.')}"></td>
              <td th:text="${jobSeeker.streetAddress}"></td>
              <td th:text="${jobSeeker.detailAddress}"></td>
              <td class="center bg-body-secondary">
                <button type="button" class="btn btn-reset dropdown-toggle dropdown-no-caret moderation-btn" data-bs-toggle="dropdown">
                  <th:block th:replace="~{admin/fragments/svg :: moderation('moderation-icon')}"></th:block>
                </button>
                <ul class="dropdown-menu moderation-menu">
                  <li><button type="button" class="dropdown-item date-range-criteria-li" data-role="suspendMember" data-bs-toggle="modal" data-bs-target="#suspendMemberModal" th:text="${'계정 정지'+ ((jobSeeker.status.name() eq 'SUSPENDED') ? ' 사유 변경': '')}"></button></li>
                  <li th:if="${jobSeeker.status.name() eq 'SUSPENDED'}"><button type="button" class="dropdown-item date-range-criteria-li" data-role="unsuspendMember" data-bs-toggle="modal" data-bs-target="#unsuspendMemberModal">계정 정지 해제</button></li>
                  <li th:if="${jobSeeker.phoneVerified}"><button type="button" class="dropdown-item date-range-criteria-li" data-value="removePhoneVerification">휴대전화 인증 삭제</button></li>
                  <li th:unless="${jobSeeker.phoneVerified}"><button type="button" class="dropdown-item date-range-criteria-li" data-value="removePhoneVerification">휴대전화 인증 추가</button></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <nav>
          <ul class="admin-pagination pagination pagination-sm justify-content-center mt-2">
            <li class="page-item" th:classappend="${pagingHandler.prevBtnActive eq false ? 'disabled' : '' }">
              <button class="page-link" name="pageIdx" th:value="${pagingHandler.pageIdx - 1}" type="submit">←</button>
            </li>
            <li class="page-item"
                th:classappend="${i == pagingHandler.pageIdx} ? 'active'"
                th:each="i : ${#numbers.sequence(pagingHandler.startPageIdx, pagingHandler.endPageIdx)}">
              <button class="page-link" name="pageIdx" th:value="${i}" type="submit">[[${i}]]</button>
            </li>
            <li class="page-item" th:classappend="${pagingHandler.nextBtnActive eq false ? 'disabled' : '' }">
              <button class="page-link" name="pageIdx" th:value="${pagingHandler.pageIdx + 1}" type="submit">→</button>
            </li>
          </ul>
        </nav>
      </div>

    </form>
  </div>
  <!-- suspendMemberModal -->
  <div class="modal fade" id="suspendMemberModal" tabindex="-1" aria-labelledby="suspendMemberModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="suspendMemberModalLabel">계정 정지 확인</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label class="mb-3">회원 정보</label>
          <table class="table mb-3">
            <tbody>
            <tr>
              <th scope="row" class="modal-member-info-th">아이디</th>
              <td id="suspendMemberUsername">(여기에 아이디가 표시됩니다.)</td>
            </tr>
            <tr>
              <th scope="row">이름</th>
              <td id="suspendMemberName">(여기에 이름이 표시됩니다.)</td>
            </tr>
            <tr>
              <th scope="row">전화번호</th>
              <td id="suspendMemberPhone">(여기에 전화번호 표시됩니다.)</td>
            </tr>
            <tr>
              <th scope="row">이메일</th>
              <td id="suspendMemberEmail">(여기에 이메일이 표시됩니다.)</td>
            </tr>
            <tr>
              <th scope="row">최근접속일시</th>
              <td id="suspendMemberLastLoginAt">(여기에 최근접속일시가 표시됩니다.)</td>
            </tr>
            </tbody>
          </table>

          <div class="mb-3">
            <label for="suspensionReason" class="form-label">정지 사유</label>
            <div class="input-group">
              <input type="text" class="form-control form-control-sm" id="suspensionReason">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-outline-danger" id="suspendMemberSubmit">저장</button>
        </div>
      </div>
    </div>
  </div>
  <!-- unsuspendMemberModal -->
  <div class="modal fade" id="unsuspendMemberModal" tabindex="-1" aria-labelledby="suspendMemberModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="unsuspendMemberModalLabel">계정 정지 확인</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label class="mb-3">회원 정지 정보</label>
          <table class="table mb-3">
            <tbody>
            <tr>
              <th scope="row" class="modal-member-info-th">아이디</th>
              <td id="unsuspendMemberUsername">(여기에 아이디가 표시됩니다.)</td>
            </tr>
            <tr>
              <th scope="row">이름</th>
              <td id="unsuspendMemberName">(여기에 이름이 표시됩니다.)</td>
            </tr>
            <tr>
              <th scope="row">정지 일시</th>
              <td id="unsuspendMemberSuspendedAt">(여기에 정지 일시가 표시됩니다.)</td>
            </tr>
            <tr>
              <th scope="row">정지 사유</th>
              <td id="unsuspendMemberSuspendedReason">(여기에 정지 사유가 표시됩니다.)</td>
            </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-outline-danger" id="unsuspendMemberSubmit">정지 해제</button>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/admin/member/job-seeker.js}"></script>
  <script th:src="@{/js/admin/member/job-seeker-modal.js}"></script>
</div>