<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div class="index-box">
        <div class="main-bg">
            <div class="container i-main">
        <!--        모든 inner는 class="container" 로 맞춤        -->
                <div class="main-bg-title">
                    <span>
                        샘플 축제
                    </span>
                    <span>
                        2026.00.00 ~ 2026.00.00
                    </span>
                    <hr>
                    <span>
                        주요 프로그램: 1) 샘플 2) 샘플 3) 샘플
                    </span>
                </div>
                <div class="main-bg-img">
                    메인 샘플 ㉠
                </div>
            </div>
        </div>
        <div class="index-center">
            <div class="container">
                <div class="index-title">
                    축제 둘러보기
                </div>
                <div class="index-more-btn">
                    <a href="/">
                        더보기 +
                    </a>
                </div>
                <div class="index-gallery">
                    <div class="gallery-items">샘플 ㉠</div>
                    <div class="gallery-items">샘플 ㉡</div>
                    <div class="gallery-items">샘플 ㉢</div>
                    <div class="gallery-items">샘플 ㉣</div>
                </div>
            </div>
        </div>
        <div class="index-last">
            <div class="container">
                <div class="index-title">
                    모집중인 공고 보기
                </div>
                <div class="index-more-btn">
                    <a href="/">
                        더보기 +
                    </a>
                </div>
                <div class="index-gallery">
                    <div class="gallery-items">샘플 ㉠</div>
                    <div class="gallery-items">샘플 ㉡</div>
                    <div class="gallery-items">샘플 ㉢</div>
                    <div class="gallery-items">샘플 ㉣</div>
                </div>
            </div>
        </div>
    </div>
</div>