<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div class="index-box">
        <div class="main-bg">
            <div class="container i-main">
        <!--        모든 inner는 class="container" 로 맞춤        -->
                <div class="main-bg-title">
                    <span>
                        [[${topFestival.title}]]
                    </span>
                    <span>
                        [[${topFestival.startDate}]] ~ [[${topFestival.endDate}]]
                    </span>
                    <hr>
                    <span>
                        [[${topFestival.program}]]
                    </span>
                </div>
                <div class="main-bg-img"
                     th:style="'background-image: url(' + ${topFestival.firstImage} + ')'"
                >
                </div>
            </div>
        </div>
        <div class="index-center">
            <div class="container">
                <div class="index-title">
                    축제 둘러보기
                </div>
                <div class="index-more-btn">
                    <a href="/festival/list">
                        더보기 +
                    </a>
                </div>
                <div class="index-gallery">
                    <div class="gallery-items" th:each="fes : ${subList}">
                        <a th:href="@{/festival/detail(id=${fes.contentId})}">
                            <div class="gallery-item"
                                 th:style="'background-image: url(' + ${fes.firstImage} + ')'"
                            ></div>
                        </a>
                        <div class="gal-sub-title">
                            [[${fes.title}]]
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-last">
            <div class="container">
                <div class="index-title">
                    모집중인 공고 보기
                </div>
                <div class="index-more-btn">
                    <a href="/">
                        더보기 +
                    </a>
                </div>
                <div class="index-gallery">
                    <div class="gallery-item">샘플 ㉠</div>
                    <div class="gallery-item">샘플 ㉡</div>
                    <div class="gallery-item">샘플 ㉢</div>
                    <div class="gallery-item">샘플 ㉣</div>
                </div>
            </div>
        </div>
    </div>
</div>