<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/application/jobseeker/list.css}">
    <div class="container">
        <!--                모든 inner는 class="container" 로 맞춤        -->
        <!--        이 안에서 작업        -->
        <div class="container application-page">

            <h1 class="application-title">지원현황</h1>

            <!-- 지원한 내역이 없는 경우 -->
            <div class="application-empty" th:if="${#lists.isEmpty(applicationList)}">
                <p>지원한 내역이 없습니다.</p>
            </div>

            <table class="application-table" th:unless="${#lists.isEmpty(applicationList)}">
                <thead>
                <tr>
                    <th>지원번호</th>
                    <th>모집공고</th>
                    <th>행사명</th>
                    <th>주소</th>
                    <th>지원일</th>
                    <th>열람일</th>
                    <th>지원상태</th>
                    <th>상세보기</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="app : ${applicationList}">

                    <!-- 지원번호 -->
                    <td th:text="${app.id}"></td>

                    <!-- 모집공고 ID -->
                    <td th:text="${app.recruitmentId}"></td>

                    <!-- 행사명 -->
                    <td th:text="${app.title}"></td>

                    <!-- 생사 주소 -->
                    <td th:text="${app.address}"></td>

                    <!-- 지원일 -->
                    <td th:text="${#temporals.format(app.registerDate, 'yyyy-MM-dd')}"></td>

                    <!-- 열람일 -->
                    <td>
                        <span th:if="${app.readDate != null}" th:text="${#temporals.format(app.readDate, 'yyyy-MM-dd')}"></span>
                        <span th:if="${app.readDate == null}" class="not-read">미열람</span>
                    </td>

                    <!-- 지원상태 -->
                    <td th:text="${app.result}">
                        <span class="application-status" th:text="${app.result}"></span>
                    </td>

                    <!-- 상세보기 -->
                    <td>
                        <a class="detail-btn" th:href="@{/recruitment/{id}(id=${app.recruitmentId})}">
                            상세보기
                        </a>

                        <form class="cancel-form" th:action="@{/application/cancel}" method="post" onsubmit="return confirm('정말 지원을 취소하시겠습니까?');">
                            <input type="hidden" name="id" th:value="${app.id}">
                            <button type="submit" class="cancel-btn">
                                지원취소
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>