<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<body>

<span th:fragment="member-status(status, deleted, clearFilter)"
      class="badge rounded-pill"
      th:classappend="${clearFilter ? 'general' : (deleted ? 'member-status-deleted' : status.badgeClass)}"
      th:text="${clearFilter ? '전체' : (deleted ? '탈퇴' : status.label)}">
</span>

<span th:fragment="general(label)"
      class="badge rounded-pill general"
      th:text="${label}">
</span>

<span th:fragment="inquiry-reply-status(replyStatus)"
      class="badge rounded-pill"
      th:classappend="${replyStatus.badgeClass}"
      th:text="${(replyStatus.label)}">
</span>

<span th:fragment="general-with-badgeClass(label, badgeClass)"
      class="badge rounded-pill"
      th:classappend="${badgeClass}"
      th:text="${label}">
</span>